@font-face{
    font-family: 'LCDDoT TR';
    src: url('lcdfont.ttf');
}
#anchor{
    -fx-background-image: url("background.png");
    -fx-background-repeat: no-repeat;
    -fx-background-insets: -20, -10;
    -fx-background-size: 800,600;
    -fx-background-position: center center;
    -fx-effect: dropshadow(three-pass-box, black, 30, 0.5, 0, 0);
}

#screen{
    -fx-background-image: url("screen_background.png");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
}
.text{
  -fx-font-family: 'LCDDoT TR';
}
.toggle-button{

    -fx-graphic: url("OFF.png");
    -fx-background-size: 30px;
    -fx-background-color: transparent;

}
.toggle-button:selected
{

    -fx-graphic: url("ON.png");
    -fx-background-radius: 0;
    -fx-background-color: transparent;


}
.button {
    -fx-background-color: -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 5, 4, 3;
}
.button:focused {
    -fx-background-color: -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 5, 4, 3;
}